@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

header{
    max-width: 2000px;
    margin: 0 auto;
    padding: 80px 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background{
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav a{
    font-size: 20px;
}

button{
    background: linear-gradient(to right, darkgreen, brown);
    color: yellow;
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
}

button:hover{
    transform: scale(1.2);
}

.logo{
    margin: 0 auto;
    padding: 0;
    transition: transform 0.2s;
}

.logo:hover{
    transform: scale(1.2);
}
    
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

a:link, a:visited{
    color: blue;
}

p{
    text-align: justify;
    font-size: 20px;
}

.project{
    text-align: justify;
}

.project_manager{
    float: left;
    margin-right: 10px;
}

.footer-body{
    max-width: 1160px;
}

.footer-body h3{
    color: white;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

.footer-body-links{
    display: flex;
    justify-content: left;
}

.footer-body-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px;
    font-size: 20px;
}

.footer-social-links{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
    position: relative;
    object-fit: cover;
    height: 100px;    
}

.footer-policy{
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 3px solid white;
}

.footer-policy a{
    color: white;
    font-weight: 10;
}

.rights{
    opacity: 0.8;
    font-size: medium;
}

@media screen and (max-width: 992px){
    header{
        display: block;
    }
}

@media screen and (max-width: 768px){
    header{
        display: block;
    }
    
    .project{
        width: max(70%, 300px);
    }
}

@media screen and (max-width: 550px){
    .footer-body-links, .footer-social-links, .footer-policy, .rights{
        display: none;
    }
    .footer-body h3{
        font-size: 32px;
    }    
}

@media screen and (max-width: 450px){
    header{
        padding: 30px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
        margin: 14px 0px;
    }
}